﻿@model IEnumerable<Evaluacion.UI.Models.LstPersonaModel>

@{
    ViewBag.Title = "Perfiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Perfiles Registrados</h2>

<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" action="~/Usuario/Index" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="txtNombre" class="control-label col-sm-2">Nombres y apellidos</label>
                <input type="text" name="txtNombre" id="txtNombre" class="form-control col-sm-5" value="" />
            </div>
            <div class="form-group">
                <label for="txtFechaInicio" class="control-label col-sm-2">Fecha</label>
                <input type="text" name="txtFechaInicio" placeholder="Desde" onfocus="(this.type = 'date')" id="txtFecha" class="form-control col-sm-5" />
                <input type="text" name="txtFechaFin" placeholder="Hasta" onfocus="(this.type = 'date')" id="txtFecha" class="form-control col-sm-5 col-sm-offset-1" />
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Sexo</label>
                <label class="checkbox-inline">
                    @Html.CheckBox("chkMasculino", false, new { htmlAttributes = new { @class = "custom-control-input" } })
                    Maculino
                </label>
                <label class="checkbox-inline">
                    @Html.CheckBox("chkFemenino", false, new { htmlAttributes = new { @class = "custom-control-input" } })
                    Femeníno
                </label>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="slcLocalidad">Localidad</label>
                <select class="form-control" name="slcLocalidad" id="slcLocalidad">
                    <option value="N">Seleccione valor..</option>
                    <option value="T">Todos</option>
                    <option value="E">Extranjero</option>
                    <option value="L">Local</option>
                </select>
                <div id="ntfRequerido" class="hide text-danger">* Debe seleccionar una localidad</div>
            </div>
            <div>
                <div class="col-md-12 text-center">
                    <button type="submit" id="btnConsultar" class="btn btn-success">Consultar</button>
                    <button type="button" class="btn btn-primary" id="btnAgregar">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row"></div>
<div class="row" style="margin-top: 40px;">
    <div class="col-md-12">
        <table class="table">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.NombreCompleto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ingresos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstatusActual)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Localidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sublocalidad)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCompleto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>
                    <td>
                        Q. @Html.DisplayFor(modelItem => item.Ingresos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstatusActual)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Localidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sublocalidad)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.IdPersona })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="modal fade" id="modalAgregar" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Perfil</h4>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("Agregar", "Usuario", FormMethod.Post, new { @id = "frmAgregar", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <div class="form-group">
                                    @* Nombre y apellidos *@
                                    <label for="Nombres" class="control-label col-sm-3">Nombres</label>
                                    <input type="text" class="form-control col-sm-9" name="Nombres" value="" data-error="#erroNombres" maxlength="100" required />
                                    <div id="erroNombres" class="col-sm-12 col-sm-offset-3"></div>
                                </div>
                                <div class="form-group">
                                    <label for="Apellidos" class="control-label col-sm-3">Apellidos</label>
                                    <input type="text" class="form-control col-sm-8" name="Apellidos" value="" maxlength="100" required data-error="#erroApellidos" />
                                    <div id="erroApellidos" class="col-sm-12 col-sm-offset-3"></div>

                                </div>
                                @* Sexo *@
                                <div class="form-group">
                                    <label for="Nombres" class="control-label col-sm-3">Sexo</label>
                                    <div class="col-sm-9">
                                        <label class="radio-inline" for="Masculino">
                                            <input type="radio" value="M" class="custom-control-input" id="Masculino" name="Sexo" required data-error="#erroSexo">
                                            Masculino
                                        </label>
                                        <label class="radio-inline" for="Femenino">
                                            <input type="radio" value="F" class="custom-control-input" id="Femenino" name="Sexo" required data-error="#erroSexo">
                                            Femenino
                                        </label>
                                    </div>
                                    <div id="erroSexo" class="col-sm-12 col-sm-offset-3"></div>

                                </div>
                                @* Fecha nac. *@
                                <div class="form-group">
                                    <label for="FechaNacimiento" class="control-label col-sm-3">Fecha Nacimiento</label>
                                    <input type="date" class="form-control col-sm-9" name="FechaNacimiento" value="" maxlength="10" required data-error="#erroFechaNac" />
                                    <div id="erroFechaNac" class="col-sm-12 col-sm-offset-3"></div>
                                </div>
                                @* Estatus *@
                                <div class="form-group">
                                    <label for="Nombres" class="control-label col-sm-3">Estado Actual</label>
                                    <div class="col-sm-9">
                                        <label class="radio-inline" for="EstatusEstudia">
                                            <input type="checkbox" value="true" class="custom-control-input" id="EstatusEstudia" name="EstatusEstudia">
                                            <input type="hidden" value="false" name="EstatusEstudia">
                                            Estudia
                                        </label>

                                        <label class="radio-inline" for="EstatusTrabaja">
                                            <input type="checkbox" value="true" class="custom-control-input" id="EstatusTrabaja" name="EstatusTrabaja">
                                            <input type="hidden" value="false" name="EstatusTrabaja">
                                            Trabaja
                                        </label>
                                    </div>

                                </div>
                                @* Ingresos *@
                                <div class="form-group">
                                    <label for="Ingresos" class="control-label col-sm-3">Ingresos</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i>Q. </i></span>
                                        <input type="text" data-type="currency" class="form-control col-sm-8" id="Ingresos" name="Ingresos" maxlength="10" required data-error="#erroIngresos" />
                                    </div>
                                    <div id="erroIngresos" class="col-sm-12 col-sm-offset-3"></div>

                                </div>
                                @* Localidad y sublocalidad *@
                                <div class="form-group">
                                    <label for="Localidad" class="control-label col-sm-3">Localidad</label>
                                    <select name="Localidad" id="Localidad" class="col-sm-9 form-control" required data-error="#erroLocalidad">
                                        <option value="">Seleccionar valor...</option>
                                    </select>
                                    <div id="erroLocalidad" class="col-sm-12 col-sm-offset-3"></div>

                                </div>
                                <div class="form-group">
                                    <label for="Sublocalidad" class="control-label col-sm-3">Sublocalidad</label>
                                    <select name="Sublocalidad" id="Sublocalidad" class="col-sm-9 form-control" data-error="#erroSublocaliad">
                                        <option value="">Seleccionar valor...</option>
                                    </select>
                                    <div id="erroSublocaliad" class="col-sm-12 col-sm-offset-3"></div>

                                </div>
                                @* Comentarios *@
                                <div class="form-group">
                                    <label for="Comentarios" class="control-label col-sm-3">Comentarios</label>
                                    <textarea name="Comentarios" class="form-control col-sm-9" rows="5" data-error="#erroComentario"></textarea>
                                    <div id="erroComentario" class="col-sm-12 col-sm-offset-3"></div>

                                </div>
                                @* Fotos *@
                                <div class="form-group">
                                    <label for="imgFoto" class="control-label col-sm-3">Foto</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="file" name="Foto" value="" required data-error="#erroFoto" />
                                    </div>
                                    <div id="erroFoto" class="col-sm-12 col-sm-offset-3"></div>

                                </div>
                                <div class="form-group text-center">
                                    <button class="btn btn-success" id="btnGuardar" type="submit">Guardar</button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



@if (!string.IsNullOrEmpty((string)ViewData["Mensaje"]))
{
    <div class="alert alert-danger">
        <strong>¡Atención!</strong> @ViewData["Mensaje"].
    </div>
}

@{Evaluacion.UI.Models.Mensaje mensaje = (Evaluacion.UI.Models.Mensaje)TempData["MensajeRegistro"]; }

@if (mensaje != null && !mensaje.esError)
{
    <div class="alert alert-success">
        <strong>¡Atención!</strong> @mensaje.Texto
    </div>
}
else if (mensaje != null)
{
    <div class="alert alert-danger">
        <strong>¡Atención!</strong> @mensaje.Texto
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        //Validar que campo es requerido  en consulta
        $('#btnConsultar').click(function () {
            if ($('#slcLocalidad').val() === 'N') {
                $('#ntfRequerido').removeClass('hide');
                return false;
            };
        });


        $('#btnGuardar').click(function () {
            $("#frmAgregar").validate();
        });

        //Llenado de select localidades y validaciones para el modal de formulario
        $('#btnAgregar').click(function () {

            $('#Localidad>option').remove();
            $('#Localidad').append(new Option("Seleccionar valor...", ''));

            $("#frmAgregar").validate({
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                errorElement: 'div',
                errorClass: 'help-block',
                errorPlacement: function (error, element) {
                    var placement = $(element).data('error');
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                },
                rules: {
                    Ingresos: {
                        required: function () { return $('#EstatusTrabaja').is(':checked'); }
                    },
                    Sublocalidad: {
                        required: function () { return $('#Localidad>option[value="E"]').is(':selected'); }
                    },
                    Comentarios: {
                        required: function () { return $('#Sublocalidad>option[value="EG"]').is(':selected');}
                    }
                }

            });

            $.ajax({
                // la URL para la petición
                url: '@System.Configuration.ConfigurationManager.AppSettings["UrlWebApi"]Ui',
                // especifica si será una petición POST o GET
                type: 'GET',
                // el tipo de información que se espera de respuesta
                dataType: 'json',
                // código a ejecutar si la petición es satisfactoria;
                // la respuesta es pasada como argumento a la función
                success: function (json) {
                    $(json.Localidad).each(function () {
                        $('#Localidad').append(new Option(this.descripcion, this.id));
                    });

                    $('#modalAgregar').modal('show');


                },
                error: function (xhr, status) {
                    alert('Ocurrió un error al consultar localidades');
                }
            });
        });

        //Llenado de select sublocalidades
        $('#Localidad').change(function () {

            var seleccionado = $('#Localidad>option:selected').val();

            $('#Sublocalidad>option').remove();
            $('#Sublocalidad').append(new Option("Seleccionar valor...", ''));

            $.ajax({
                url: '@System.Configuration.ConfigurationManager.AppSettings["UrlWebApi"]Ui',
                type: 'GET',
                dataType: 'json',
                success: function (json) {

                    $(json.Sublocalidad).each(function () {
                        if (this.id.charAt(0) === seleccionado) {
                            $('#Sublocalidad').append(new Option(this.descripcion, this.id));
                        }

                    });

                    $('#modalAgregar').modal('show');
                },
                error: function (xhr, status) {
                    alert('Ocurrió un error al consultar Sublocalidades');
                }
            });
        });


        /**FORMATO DE MONEDA**/
        $("input[data-type='currency']").on({
            keyup: function () {
                formatCurrency($(this));
            },
            blur: function () {
                formatCurrency($(this), "blur");
            }
        });


        function formatNumber(n) {
            // format number 1000000 to 1,234,567
            return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }


        function formatCurrency(input, blur) {
            // appends $ to value, validates decimal side
            // and puts cursor back in right position.

            // get input value
            var input_val = input.val();

            // don't validate empty input
            if (input_val === "") { return; }

            // original length
            var original_len = input_val.length;

            // initial caret position
            var caret_pos = input.prop("selectionStart");

            // check for decimal
            if (input_val.indexOf(".") >= 0) {

                // get position of first decimal
                // this prevents multiple decimals from
                // being entered
                var decimal_pos = input_val.indexOf(".");

                // split number by decimal point
                var left_side = input_val.substring(0, decimal_pos);
                var right_side = input_val.substring(decimal_pos);

                // add commas to left side of number
                left_side = formatNumber(left_side);

                // validate right side
                right_side = formatNumber(right_side);

                // On blur make sure 2 numbers after decimal
                if (blur === "blur") {
                    right_side += "00";
                }

                // Limit decimal to only 2 digits
                right_side = right_side.substring(0, 2);

                // join number by .
                input_val = left_side + "." + right_side;

            } else {
                // no decimal entered
                // add commas to number
                // remove all non-digits
                input_val = formatNumber(input_val);
                input_val = input_val;

                // final formatting
                if (blur === "blur") {
                    input_val += ".00";
                }
            }

            // send updated string to input
            input.val(input_val);

            // put caret back in the right position
            var updated_len = input_val.length;
            caret_pos = updated_len - original_len + caret_pos;
            input[0].setSelectionRange(caret_pos, caret_pos);
        }
    </script>
}

